@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/* Start reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* Start reset */

/* Start global styles */
body, input, button {    
    font-family: Roboto, sans-serif
}

button {
    cursor: pointer;
}

body {
    background: #6007b0;
    color: #fff;
    overflow: hidden;
}
/* End global styles */

/* Start Animations keyframes */
@keyframes fade-in-from-upper-left {
    0% {
        opacity: 0;
        transform: translateX(-20%) translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
}

@keyframes rotating-eruption {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1200px) rotate(360deg);
    }
}
/* End Animations keyframes */

/* Start form-conainter and form styles  */
.login-container {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    
    margin: auto;

    width: 100%;
    height: 350px;
    max-width: 320px;
    border-radius: 5px;
    background-color: #fff;

    animation: fade-in-from-upper-left;
    animation-duration: 0.5s;
}

.login-container form {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form img {
    width: 160px;
}

.login-container form input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    border: solid 1px #6007b0;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.5;
    margin-bottom: 15px;
    color: #6007b0;
}

.login-container form button {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5;
    background-color: #6007b0;
    color:#fff;

    transition: background-color .2s ease-in-out;
}

.login-container form button:hover {
    background-color: #500590;
}

.login-container form input::placeholder {
    color: #6007b0;
}
/* End form-conainter and form styles  */

/* Start floating squares */
.floating-squares li {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    z-index: -1;

    animation: rotating-eruption 2s infinite linear;
    animation-direction: alternate;
    animation-delay: 2s;
    
}
/* End floating squares */